body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#chatLog {
    border: 1px solid #ccc;
    height: 300px;
    width: 300px;
    overflow-y: scroll;
    padding: 10px;
}

#messageInput {
    /*width: 80%;*/
    padding: 10px;
}

#sendBtn {
    padding: 10px;
}